.findPeople {
    position: relative;
    max-inline-size: 12.25rem;
}

.findPeople input {
    inline-size: 100%;
    padding-block: .625rem;
    padding-inline-start: 2.5rem;
    background: var(--gray10);
    color: var(--gray30);
    border: 1px solid transparent;
    border-radius: .25rem;
    outline: none;
}

.findPeople i {
    position: absolute;
    inset-block-start: 30%;
    inset-inline-start: 1rem;
}